body{
    background-color: #333;
    color: whitesmoke;
}
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgba(45, 86, 222, 0.815);
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: rgb(225, 50, 176);
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }